<footer>
    <img src="/images/cookie.svg" class="cookie-alert" data-bs-toggle="modal" data-bs-target="#modalCookieConsent" />
    
    <div id="footer" class="bg-light" >
                <a class="alert-link" href="/privacy-policy">Política de Privacidade</a>
    </div>
       
    <div class="alert bg-dark box-cookies hide">
        <small class="msg-cookies">Este site armazena dados como cookies para habilitar funcionalidades essenciais do
            site. Entenda mais através de nossa <a class="alert-link" href="/privacy-policy">Política de Privacidade</a></small>
                     
        
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            
        <a href="#" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#modalCookieConsent">
            Preferências
        </a>
        
            <button class="btn btn-success text-nowrap active btn-sm acceptAll" id="enableAll">Aceitar Todos</button>
            <button class="btn btn-success text-nowrap btn-sm" id="disableAll">Desabilitar Todos</button>
            
        </div>
           
    </div>
    
    <%- include('./modalConsent.ejs') -%>
</footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
<script src="/js/core.js"></script>
<script src="/js/main.js"></script>
<script src="/js/thirdPartScripts.js"></script>

</html>