<%- include('./includes/header.ejs') -%>
 
    <main>
        <div id="lipsum">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dapibus nibh nec vestibulum laoreet.
                Donec sagittis pretium rutrum. Duis vestibulum elementum enim, non dignissim sem luctus vel. Etiam
                vulputate dapibus massa. Quisque maximus quis urna nec vestibulum. Suspendisse cursus ultrices metus nec
                blandit. Quisque ac nibh eget ipsum efficitur faucibus. Fusce sit amet felis non felis sagittis
                scelerisque. Proin molestie ut magna sit amet porttitor.
            </p>
            <p>
                Integer facilisis finibus sodales. Fusce et malesuada ex. Vivamus at cursus massa. Fusce augue lorem,
                volutpat sed blandit vitae, efficitur sit amet urna. Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Praesent aliquet consequat ligula nec vulputate. Curabitur in pretium turpis, sed molestie felis.
                Pellentesque dolor dui, vehicula quis varius euismod, blandit eu enim. Phasellus id quam at ante
                venenatis fermentum. Nulla dignissim lorem felis, at mattis ipsum finibus vitae. Proin magna quam,
                facilisis vitae massa non, cursus auctor libero. Vestibulum id ante eget turpis imperdiet fermentum vel
                a libero. Sed id finibus nisl.
            </p>
            <p>
                Donec eleifend mattis tellus, a congue urna facilisis at. Etiam sit amet fermentum justo, eget vulputate
                augue. Curabitur blandit, eros lobortis cursus mattis, ipsum leo feugiat orci, in malesuada urna lacus
                eu lacus. Curabitur sollicitudin commodo augue, non commodo leo. Etiam aliquam leo ac erat eleifend
                ultricies. Cras vulputate dolor non quam consequat molestie. Integer aliquet velit ac dui ultrices
                convallis. Nullam a porttitor metus. Pellentesque in purus et leo imperdiet egestas. Nulla non eleifend
                sapien. Quisque rutrum sodales mauris quis sagittis. Suspendisse quam ipsum, dapibus id arcu non,
                accumsan condimentum ipsum. Mauris nec maximus mi, at sodales erat. Aliquam vitae ligula a urna congue
                egestas.
            </p>
            <p>
                Aliquam orci lorem, consequat ac sapien at, bibendum rhoncus purus. Vivamus luctus, tortor nec interdum
                facilisis, nunc libero aliquam lorem, vitae semper sem sapien ut neque. Maecenas pretium volutpat felis,
                et tristique odio aliquet a. Vivamus pharetra pellentesque turpis et vestibulum. Praesent non leo
                ultricies neque fringilla luctus. Curabitur imperdiet dictum elit, et dapibus magna vulputate id. Nullam
                tincidunt risus eu neque porta, non consectetur tortor tempus. Nunc malesuada ipsum at euismod eleifend.
                Nulla non pretium enim, eu tempor elit. Suspendisse dictum commodo imperdiet. Pellentesque lobortis
                lorem massa, sed dictum sapien hendrerit vel. Pellentesque congue sapien dapibus, pellentesque purus
                dapibus, hendrerit libero.
            </p>
            <p>
                Cras euismod maximus arcu sed rutrum. Vestibulum fermentum nibh a ligula porta, id venenatis dui
                lacinia. Ut mattis nunc massa, et ultrices ipsum dapibus nec. Suspendisse at ultricies felis, quis
                mollis ex. In egestas lectus augue. Ut nec ipsum pharetra, molestie dui non, bibendum metus. Aenean nec
                ipsum commodo tellus vulputate facilisis.
            </p>
        </div>
    </main>
    <%- include('./includes/footer.ejs') -%>
        